{{!-- app/templates/application.hbs --}}
<div class="navbar">
  <h1>EmberHandlers</h1>
  <LinkTo @route="index">Home</LinkTo>
  <LinkTo @route="users">Users</LinkTo>
</div>

<div class="container">
  {{outlet}}
</div>
